VITE_API_BASE=https://api.predict-arena-nonprod.agentese.ai
VITE_SERVER_URL=https://api.predict-arena-nonprod.agentese.ai
VITE_CONTRACT_ADDRESS=0xB9817976711542185ec410BBBD1e784D9fB67e29
VITE_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
VITE_NETWORK=sepolia
