PORT=3001
NODE_ENV=development
NETWORK=sepolia
DATABASE_URL=
REDIS_URL=
RPC_URL=
ROOM_PREPARE_TIMEOUT_MS=180000
CONTRACT_ADDRESS=0x669DCCB6Cc7305029D2D9c5f125B094572818F52
ORACLE_PRIVATE_KEY=
USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
BINANCE_WS_URL=wss://stream.binance.com:9443/ws/btcusdt@ticker
OUTBOUND_PROXY_URL=http://127.0.0.1:7890
CLIENT_URL=http://127.0.0.1:5173
